@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  background: rgb(249 250 251);
 }
 

 
 
 

 
 @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
 

 

 
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

 
.focus-visible:focus {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}
 
